{:paths ["."]
 :tasks {test-deps {:extra-deps {eg/eg {:mvn/version "0.5.6-alpha"}}}
         test-prepare {:depends [test-deps]
                       :task (shell "bb prepare && bb print-deps")}
         test {:depends [test-deps]
               :task function.test.run-tests/-main}}}
































